<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system/config.xsd">
    <default>
        <magebatch_inventory>
            <general>
                <enabled>1</enabled>
                <enable_batch_tracking>1</enable_batch_tracking>
                <enable_fefo>1</enable_fefo>
                <enable_expiry_processing>1</enable_expiry_processing>
                <enable_expiry_alerts>1</enable_expiry_alerts>
                <enable_batch_recall>1</enable_batch_recall>
                <expiry_warning_days>30</expiry_warning_days>
                <near_expiry_threshold>7</near_expiry_threshold>
            </general>
        </magebatch_inventory>
    </default>
</config>
