<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magebatch_inventory_batch_created">
        <observer name="magebatch_inventory_batch_created" instance="MageBatch\Inventory\Observer\BatchCreated"/>
    </event>
    <event name="magebatch_inventory_batch_status_change">
        <observer name="magebatch_inventory_batch_status_change" instance="MageBatch\Inventory\Observer\BatchStatusChange"/>
    </event>
    <event name="magebatch_inventory_fefo_allocated">
        <observer name="magebatch_inventory_fefo_allocated" instance="MageBatch\Inventory\Observer\FefoAllocated"/>
    </event>
    <event name="magebatch_inventory_batch_expired">
        <observer name="magebatch_inventory_batch_expired" instance="MageBatch\Inventory\Observer\BatchExpired"/>
    </event>
</config>
